/*--------------Color Codes----------

#09C = Blue Teal
#006 = Navy Blue
#C96 = Sandy Tan

----------------Color Codes--------*/

/*-------Sections------------------*/

body {
	background-color: #FFF;
	color: #666;
	font: Verdana, Arial, Helvetica, sans-serif 14px/1.5;
	margin: 0 auto;
	width: 790px;
}

section {
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
	-moz-column-count: 3;
}

header {
	margin-left: 536px;
}

aside {
	background-color: #C96;
	border-radius: 10px;
	width: 263px;
	float: right;
	margin: 20px 0;
}

/*-------Specific Elements------------*/


#header {
	background-color: #006;
	overflow: hidden;
	margin: 0;
	border-bottom-left-radius: 15px;	
	border-bottom-right-radius: 15px;	
}

article p {
	text-align: justify;
}

footer p {
	text-align: right;
	font-style: italic;
}

#footer {
	text-align: center;
	clear: both;
	font-size: 12px;	
}

#footer ul {
	list-style-type: none;
	float: right;
}

#footer ul li {
	display: inline;
	margin: 0 45px 0 0;
}

#footer a {
	font-weight: bold;
}

/*-------Elements---------------------*/

h1 a{
	margin-left: 20px;
	color: #C96;
	font-family:'Trade Winds', cursive;
	text-decoration: none;
}

h2, h3 {
	font-family: 'Wallpoet', cursive;
}

h2 {
	color: #09C;
}

h3 {
	color: #000;
	margin-left: 20px;
}

a {
	text-decoration: none;
	color: #960;
}

/*-------Navigation Elements--------*/

nav ul {
	margin: 0;
	list-style-type: none;
	padding: 0;
}

nav ul li {
	float: right;
	display: block;
	margin: 0 15px 0 0;
}

nav ul li a, a:visited {
	text-align: center;	
	height: 26px;
	line-height: 26px;
	color: #FFF;
	padding: 5px;
}

nav ul li a:hover, a:active, a:focus {
	background-color: #FFF;
	color: #006;
}



/*-------Gallery Elements------------*/

#gallery {
	width: 526px;
	float: left;
}

#gallery ul {
	margin: 0;
	list-style-type: none;
	padding: 0;
}

#gallery ul li {
	float: left;
	display: block;
	margin: 10px 20px 5px 0px;
}

#gallery img {
	border: 1px solid #000;
}

